@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-content {
  white-space: nowrap;
  animation: scrolling-animation 20s linear infinite;
}

@keyframes scrolling-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling {
  animation-play-state: running;
}
